<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065309954966-an5lfcnv5b4c2kmkrfedquire67ukji5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065309954966-an5lfcnv5b4c2kmkrfedquire67ukji5</string>
	<key>API_KEY</key>
	<string>AIzaSyAwvnAFREjDEszS7Z_G8EkzbfN7iPAThmo</string>
	<key>GCM_SENDER_ID</key>
	<string>1065309954966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>studio.moxy.rnwm</string>
	<key>PROJECT_ID</key>
	<string>rnmw-eb311</string>
	<key>STORAGE_BUCKET</key>
	<string>rnmw-eb311.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065309954966:ios:8aee41448f8e057b6333b7</string>
	<key>DATABASE_URL</key>
	<string>https://rnmw-eb311.firebaseio.com</string>
</dict>
</plist>